<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<section class="card">
    <div class="card-content">
        <div class="Heading">
            Primary Type:
            <span th:text="${correctPoke.primary_type}"></span>
            <br/>
            Secondary Type:
            <span th:text="${correctPoke.secondary_type}"></span>
            <br/>
            Species:
            <span th:text="${correctPoke.species}"></span>
            <br/>
            Region of Origin:
            <span th:text="${correctPoke.region}"></span>
            <br/>
        </div>
        <div class="Specs">
            Height:
            <span th:text="${correctPoke.height}"></span>
            <br/>
            Weight:
            <span th:text="${correctPoke.weight}"></span>
            <br/>
        </div>
        <div class="PkdxText">
            Pokedex Entry:
            <div th:text="${correctPoke.dex_entry}"></div>
        </div>
    </div>
</section>


<form method="POST">
    <select th:name="sub">
        <option th:text="${correctPoke.pokemon_name}" th:value="${correctPoke.pokemon_name}"></option>
        <option th:text="${optA.pokemon_name}" th:value="${optA.pokemon_name}"></option>
        <option th:text="${optB.pokemon_name}" th:value="${optB.pokemon_name}"></option>
        <option th:text="${optC.pokemon_name}" th:value="${optC.pokemon_name}"></option>
    </select>

    <button type="submit" th:name="correctpoke" th:value="${correctPoke.pokemon_name}">Select</button>
</form>


</body>
</html>